.phonebook {
}

.form_block {
  width: 400px;
  padding: 10px 10px 50px 10px;
  border: 1px solid #4d4d4d;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form_title {
  font-size: 20px;
  font-weight: 500;
  margin-right: 15px;
}

.form_input {
  margin-bottom: 10px;
}

.form_input:hover {
  border-color: rgb(120, 120, 182);
}
